{% extends "layout.html" %}
{% block title %} {{ recipe.name }} {% endblock %}
{% block content %}
<h1>Recipe for {{ recipe.name }}</h1>

<ul>
<!--    <li>Name: {{ recipe.name }}</li>-->
    <li>Added: {{ recipe.time_created }}</li>
    <li>Ingredients:
        <ul>
            {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient.name }}</li>
            {% endfor %}
        </ul>
    </li>
    <li>Method: {{ recipe.method }}</li>
</ul>
<div align="right">
<h3 class="text-muted">Rate this recipe:</h3>
<span class="fa-stack text-muted">
  <i class="far fa-circle fa-stack-2x"></i>
  <i class="fas fa-skull-crossbones fa-stack-1x"></i>
</span>
<span class="fa-stack text-muted">
  <i class="far fa-circle fa-stack-2x"></i>
  <i class="fas fa-heart fa-stack-1x"></i>
</span>
<span class="fa-stack text-muted">
  <i class="far fa-circle fa-stack-2x"></i>
  <i class="fas fa-frog fa-stack-1x"></i>
</span>
<span class="fa-stack text-muted">
  <i class="far fa-circle fa-stack-2x"></i>
  <i class="fas fa-comment-dollar fa-stack-1x"></i>
</span>
</div>
<br><br>
<div align="center">
<button type="button" class="btn btn-outline-info btn-rounded waves-effect">Back to recipes</button>
    <button type="button" class="btn btn-outline-info btn-rounded waves-effect">Previous recipe</button>
    <button type="button" class="btn btn-outline-info btn-rounded waves-effect">Next recipe</button>
</div>
{% endblock %}